<div class="body-container">
  <div class="side-bar">
    <div class="side-bar-container">
      <div class="user-name-list-title">
        <%= "<user_list>" %>
      </div>
      <ul class="user-name-list">
        <li class="user-name">user_name</li>
        <li class="user-name">user_name</li>
        <li class="user-name">user_name</li>
        <li class="user-name">user_name</li>
        <li class="user-name">user_name</li>
      </ul>
      <div class="tag-name-list-title">
        <%= "<tag_list>" %>
      </div>
      <ul class="tag-name-list">
        <li class="tag-name">tag_name</li>
        <li class="tag-name">tag_name</li>
        <li class="tag-name">tag_name</li>
        <li class="tag-name">tag_name</li>
        <li class="tag-name">tag_name</li>
      </ul>
    </div>
  </div>
  <div class="main-bar-container">
    <div class="diary-container">
      <div class="diary-content">
      </div>
      <div class="diary-content">
      </div>
      <div class="diary-content">
      </div>
      <div class="diary-content">
      </div>
    </div>
  </div>
</div>