<div class="kyokumenzu-container">

<h1 class="kyokumenzu-title">局面図作成ページ</h1>
<div class="my-canvas">
  <canvas id="myCanvas"></canvas>
</div>

<a id="download-link" href="" download="" class="download-link">局面図をダウンロード</a>
<%= link_to "戻る", new_diary_path, class: "download-link" %>
</div>