<div class="kyokumenzu-container">

<h1 class="kyokumenzu-title">局面図作成ページ</h1>
<div class="my-canvas">
  <input type="text" placeholder = "タイトル" class="kyokumenzu-name">
  <canvas id="myCanvas" width="700" height="700"></canvas>
</div>

</div>