/* TOPページのレイアウト */

/* ヘッダーのレイアウト */
header {
  height: 80px;
  width: 100vw;
  background-image: image-url('header-image.png');
  background-size: cover;
 }
 
 .header-content {
   width: 100%;
   height: 100%;
   justify-content: space-between;
   align-items: center;
   display: flex;
   flex-direction: row;
   overflow: auto;
 }
 
 .header-title {
   text-decoration: none;
   color: darkgreen;
   font-family: 'Times New Roman', Times, serif;
   font-size: 50px;
   text-align: center;
   margin-left: 100px;
   text-shadow    : 
   2px  2px 15px #ffffff,
  -2px  2px 15px #ffffff,
   2px -2px 15px #ffffff,
  -2px -2px 15px #ffffff;
 }
 
 .header-btn {
   text-decoration: none;
   background-color: green;
   color: white;
   border: solid 2px white;
   padding: 10px;
   margin-right: 30px;
   font-size: 24px;
 }

/* bodyのレイアウト */
 .body-container {
   display: flex;
   width: 100vw;
   height: calc(100vh - 80px);
 }

 /* サイドバーのレイアウト */

 .side-bar {
   background-color: rgb(206, 253, 206);
   width: 150px;
   height: 100%;
 }

.side-bar-container {
  display: flex;
  flex-direction: column;
}

.search-form {
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

.search-input {
  font-size: 14px;
  height: 30px;
  width: 130px;
  text-align: center;
  border: solid 2px green;
  border-radius: 10px;
}

.search-btn {
  font-size: 16px;
  margin-top: 10px;
  padding: 3px 10px;
  border: solid 1px green;
  border-radius: 10px;
  color: white;
  background-color: green;
}

.user-name-list-title {
  font-size: 20px;
  text-align: center;
  height: 30px;
}

.user-name-list {
  font-size: 16px;
  border-top: double 5px black;
  height: 200px;
  overflow: scroll;
  padding: 10px;
}

.tag-name-list-title {
  font-size: 20px;
  text-align: center;
  height: 30px;
  margin-top: 10px;
}

.tag-name-list {
  height: 100%;
  overflow: scroll;
  border-top: double 5px black;
  height: calc(100vh - 80px - 80px - 30px - 200px - 10px - 30px);
  padding: 10px;
}

.side-bar-tag-name {
  font-size: 16px;
}

/* メインバーのレイアウト */

.main-bar {
  width: calc(100% - 150px);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: scroll;
}

.main-bar-title {
  font-size: 36px;
  color: green;
  width: 100%;
  height: 50px;
  margin: 10px 0;
  text-align: center;
  text-shadow    : 
  2px  2px 1px white,
  -2px  2px 1px white,
   2px -2px 1px white,
  -2px -2px 1px white,
   2px  0px 1px white,
   0px  2px 1px white,
  -2px  0px 1px white,
   0px -2px 1px white; 
}

.diary-box {
  width: 100%;
  height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.diary-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.diary-item {
  border: solid 1px black;
  height: 450px;
  width: 400px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.diary-item-image {
  margin-top: 10px;
  height: 352px;
  width: 352px;
  margin: 0 auto;
  border: solid 1px black;
}

.diary-item-date {
  font-size: 16px;
  text-align: left;
}

.diary-item-title {
  font-size: 32px;
  text-align: center;
}

.diary-item-user-name {
  font-size: 24px;
  text-align: right;
  margin-right: 10px;
}

.main-bar-button {
  height: 50px;
  font-size: 24px;
  text-align: center;
  justify-content: center;
  margin-top: 50px;
}


/* 新規投稿ページのレイアウト */

.diary-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.diary-title {
  font-size: 32px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.diary-form {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 日記詳細ページのレイアウト */

.show-diary-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
  margin: 20px auto;
}

.show-diary-title {
  font-size: 60px;
}

.show-diary-content {
  display: flex;
  width: 100%;
  border-top: dotted 5px black;
  padding-top: 10px;
}

.show-diary-detail {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tag-container {
  width: 100%;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 20px;
}

.tag-name {
  border: solid 1px blue;
  background-color: blue;
  color: white;
  border-radius: 20px;
  font-size: 22px;
  padding: 5px 10px;
  margin: 5px 5px;
}

.tag-forms {
  float: right;
  margin-left: 50px;
  position: absolute;
  right: 0;
}

.tag-form {
  border: solid 2px blue;
  border-radius: 5px;
  width: 100px;
  height: 32px;
  font-size: 22px;
  padding: 5px;
}

.tag-button {
  border: solid 2px blue;
  color: blue;
  border-radius: 5px;
  padding: 5px;
}

.show-diary-text {
  font-size: 18px;
  border: solid 2px gray;
  width: 380px;
  height: 500px;
  overflow: scroll;
  margin: 10px 0;
}

.show-diary-user, .show-diary-edit-btn {
  font-size: 24px;
  float: right;
}

.show-diary-edit-btn {
  color: blue;
}

.comment-area {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.comment-area-title {
  font-size: 32px;
  margin-bottom: 10px;
}


.comment-text {
  border: dashed 3px;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  max-width: 400px;
}

.comment-other {
  border-color: black;
}

.comment-owner {
  border-color: green;
}

.comment-user-name {
  float: right;
}

.comment-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.comment-text-area {
  border: solid 2px blue;
  border-radius: 5px;
  text-align: left;
  width: 400px;
  padding: 10px;
}

.comment-submit {
  width: 100px;
  height: 30px;
  border: solid 2px blue;
  margin-top: 5px;
}

/* 局面図編集ページ */

.kyokumenzu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.kyokumenzu-title {
  font-size: 36px;
  margin: 20px 0;
}

.my-canvas {
  border: solid 2px black;
  width: 700px;
  height: 650px;
  display: flex;
  flex-direction: column;
}

.kyokumenzu-name {
  text-align: center;
  font-size: 36px;
  height: 50px;
  max-width: 700px;
}

.download-link {
  font-size: 24px;
  margin: 20px 0;
  padding: 10px;
  border: solid 2px blue;
  border-radius: 20px;
}

